<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row main-container">
				<div class="col-md-2 side-panel">
					<h3>
						{{title}}
					</h3> 
					<br>
					<h4><span class="glyphicon glyphicon-cog"></span> Loading parameters:</h4>

					<form role="form" id="loading_parameters">
						<div class="form-group">
							<label for="selected_database">
								Source database:
							</label>
							<select id="selected_database" class="form-control input-sm" (change)="updateDatabaseSelection($event.target.value)">
								<option *ngFor="let db of databases" [value]="db.name">{{db.title}}</option>
							</select>
						</div>

						<div class="form-group">
							<label for="num_patches">
								Number of concurrent loading patches:
							</label>
							<input id="num_patches" class="form-control input-sm" type="number" min="1" max="100" step="1" value = "{{ pointsLoading.numPatches }}" (change)="updatePointsLoading('num_patches')"/>
						</div>

						<div class="form-group">
							<label for="patch_stride">
								Load every n-th point:
							</label>
							<input id="patch_stride" class="form-control input-sm" type="number" min="1" max="1000" step="1" value ="{{ pointsLoading.patchStride }}" (change)="updatePointsLoading('patch_stride')"/>
						</div>

						<div class="form-group">
							<label for="progressive_loading">
								Progressive Loading: 
							</label>
							<span style="float: right;"><input type="checkbox" class="form-control" id="progressive_loading" name="progressive_loading"></span>
						</div>

						<div class="form-group">
							<label for="sharing_switch">
								Sharing: 
							</label>
							<span style="float: right;"><input type="checkbox" class="form-control" id="sharing_switch" name="sharing_switch"></span>
						</div>

						<div class="form-group">
							<label for="live_switch">
								Live: 
							</label>
							<span style="float: right;"><input type="checkbox" class="form-control" id="live_switch" name="live_switch"></span>
						</div>

						<button id="loading_button" type="button" (click)="getPointsClicked($event)" class="btn btn-block btn-default btn-sm">
							{{buttonLoading}}
						</button>
					</form>

					<br>
					<h4><span class="glyphicon glyphicon glyphicon-user"></span> Users:</h4>
					<div class="row">
						<div id="user-list" class="col-md-12">
						</div>
					</div>

					<div class="row vbottom">
						<div class="col-sm-12">
							<h4 ><span class="glyphicon glyphicon-question-sign"></span> <span id="help_title">Help</span></h4>
							<p id="help">
								<strong>Movements:</strong> <br>
								<kbd class="dark">W</kbd> - Move camera forward <br>
								<kbd class="dark">S</kbd> - Move camera backwards <br>
								<br>
								<kbd class="dark">A</kbd> - Move camera right <br>
								<kbd class="dark">D</kbd> - Move camera left <br>
								<br>
								<kbd class="dark">Q</kbd> - Move camera up <br>
								<kbd class="dark">E</kbd> - Move camera down <br>

								<br> <br>

								<strong>Rotations:</strong> <br>
								<kbd class="dark">Shift</kbd> + <kbd class="dark">W</kbd> - Camera pitch down <br>
								<kbd class="dark">Shift</kbd> + <kbd class="dark">S</kbd> - Camera pitch up <br>
								<br>
								<kbd class="dark">Shift</kbd> + <kbd class="dark">A</kbd> - Camera yaw right <br>
								<kbd class="dark">Shift</kbd> + <kbd class="dark">D</kbd> - Camera yaw left <br>
								<br>
								<kbd class="dark">Shift</kbd> + <kbd class="dark">Q</kbd> - Camera roll left <br>
								<kbd class="dark">Shift</kbd> + <kbd class="dark">E</kbd> - Camera roll right <br>

								<br> <br>

								<strong>Mouse:</strong> <br>
								<kbd class="dark">Shift</kbd> + <kbd class="dark">Wheel Up</kbd> - Increase translation speed <br>
								<kbd class="dark">Shift</kbd> + <kbd class="dark">Wheel Down</kbd> - Decrease translation speed <br>
								<br>
								<kbd class="dark">Alt</kbd> + <kbd class="dark">Wheel Up</kbd> - Increase rotation speed <br>
								<kbd class="dark">Alt</kbd> + <kbd class="dark">Wheel Down</kbd> - Decrease rotation speed <br>

							</p>
						</div>
					</div>
				</div>
				<div class="col-md-10 ladar-view potree_container">

				</div>
			</div>
		</div>
	</div>
</div>