.navbar-transparent {
	opacity: 0.5;
}

.main-container {
	height:100vh;
	min-height:100%;
	max-height:100%;
}

.ladar-view {
	padding: 0px;
	margin: 0px;
	height:100vh;
	min-height:100%;
	max-height:100%;
}

.side-panel {
	height:100vh;
	min-height:100%;
	max-height:100%;
}

.input-type {
	width: 100%;
}

.vbottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
	zoom: 85%;
	/*background-color: rgba(64, 64, 64, 0.75);*/
	background-color: #222222;
}

#selected_database {
	color: black;
}